body{
    margin: 0px;
    padding: 0px;
}
*{
    font-family: arial;
}
div.maincontent{
    height: 760px;
    background-image: url(images/background.jpg);
}
div.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0 , 0 , 0 , 0.6);
}
div.joinnavbar{
    background-color: black;
}


div.navbar a{
    color: white;
    margin: 20px;
  
}
div.navbar a.join{
    padding: 10px;
    border-radius: 8px;
    border: 2px solid white;
    color: white;
    background-color: transparent;
}
div.details{
    padding-top: 180px;
    text-align: center;
    color: white;
}
div.details button{
    padding: 10px;
    border-radius: 8px;
    border: 2px solid white;
    color: darkturquoise;
    background-color: white

}
div.upcoming h1{
    text-align: center;
}
div.games{
    display: flex;
    width: 60%;
    margin: auto;
    justify-content:space-around;
    align-items: center;   
}
div.game{
    text-align: center;
}
div.game div.img{
    width: 120px;
    height: 120px;
    border-radius: 120px;
    background-image: url('images/pubg.jpg');
    background-size: cover;
    background-position: center;
}
div.game2 div.img{
    background-image: url('images/fallguys.jpg');
    width: 120px;
    height: 120px;
    border-radius: 120px;
    background-size: cover;
    background-position: center;

}
div.game3 div.img{
    background-image: url('images/rocketleague.jpg');
    width: 120px;
    height: 120px;
    border-radius: 120px;
    background-size: cover;
    background-position: center;
}
div.game4 div.img{
    background-image: url('images/valorant.jpg');
}

div.maingame {
    display: flex;
    justify-content: center;
    align-items: center;
   width: 60%;
    margin: auto;
    background-color: black;
    color: white;
    padding: 50px;
    border-radius: 30px;
    margin-top: 50px;
    
}
div.maingame button{
    padding: 10px;
    border-radius: 8px;
    
    color: white;
    background-color: mediumturquoise;
    border: none;

}
div.maingame img{
    margin-right: -100px;
    border-radius: 20px;
    width: 50%;
}
div.posts{
    display: flex;
    width: 70%;
    margin: auto;
    justify-content:space-around;
    align-items: center;
    
}
div.postscontent{
    margin: auto;
    text-align: center;
    justify-content:space-around;
    align-items: center;
    padding-top: 20px;

}
div.post{
    margin: 40px;
    background-color: black;
    color: white;
    border-radius: 10px;

}
div.post p{
    font-size: 15px;
}
div.post h3, div.post p, div.post h5{
    padding-right: 10px;
    padding-left: 10px;
}
div.post p, div.post h5{
    display: inline-block
}
div.post1 div.img, div.post2 div.img, div.post3 div.img{
    background-image: url('images/post1.jpg');
    height: 150px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
div.post2 div.img{
    background-image: url('images/post2.jpg');
}
div.post3 div.img{
    background-image: url('images/post3.jpg');
}

div.testis{
    display: flex;
    width: 70%;
    margin: auto;
    justify-content:space-around;
    align-items: center;
}
div.test h1{
    text-align: center;
    margin-bottom: 50px;
}
div.testi{
    background-color: black;
    text-align: center;
    color: white;
    margin: 20px;
    border-radius: 8px;
}
div.testi1 div.img{
    background-image: url('images/man.png');
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 100px;
    margin-top: -50px;
    background-position: center;
    background-size: cover;
    border: 1px solid black;
}

div.testi2 div.img{
    background-image: url('images/woman.png');
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 100px;
    margin-top: -50px;
    background-position: center;
    background-size: cover;
    border: 1px solid black;
}
.pricing h2{
    text-align: center;
}
.prices{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 60%;
    text-align: center;
}
.price{
    width: 30%;
    background-color: darkcyan;
    color: white;
    margin: 10px;
    padding-bottom: 15px;
    padding-top: 15px;
    border-radius: 10px;
}
.price button{
    padding: 10px;
    border-radius: 8px;
    background-color: darkslategrey;
    color: white;
    border: 1px solid white
}
.planprice{
   background-color: darkblue;
   padding-bottom: 10px;
   padding-top: 10px;
}
.planprice h3{
    margin: 0;
}

.joinform{
   display: flex;
   justify-content: center;
   margin: auto;
   width: 60%;
   border: 1px solid black;
   border-radius: 10px;
   margin-top: 50px;
}
.joinform .image{
    width: 35%;
}
.joinform .form{
    width: 65%;
}

.joinform .image{
   background-image: url('images/fantasy1.jpg');
   background-size: cover;
   background-position: top;
   height: 400px;
   padding: 15px;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
}

form input, form button{
    padding: 10px;
    font-size: 16px;
    border: 1px solid slateblue;
    border-radius: 5px;
    display: block;
    margin: 10px;
}

form{
    display: flex;
    width: 50%;
    margin: auto;
    flex-direction: column;
    padding-top: 100px;
     
}

form button{
    background-color: blue;
    color: white;
}
.footer{
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
}